name: Sync
on:
  workflow_dispatch:
  push:
  schedule:
    - cron: "0 4-22/3 * * *"

jobs:
  sync:
    runs-on: ubuntu-latest
    container: oven/bun
    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
      DOWNLOAD_CALENDAR_ID: ${{ secrets.DOWNLOAD_CALENDAR_ID }}
      UPLOAD_CALENDAR_ID: ${{ secrets.UPLOAD_CALENDAR_ID }}
      DRIVE_DIRECTORY_NAME: ${{ secrets.DRIVE_DIRECTORY_NAME }}
      REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: bun i

      - name: Run script
        run: bun sync.ts
